telemetria-kart/node-red/flows/telemetria_dashboard_flow.json
[
    {
        "id": "f3aa4012cfc3fa44",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac77f87818a49294",
        "type": "debug",
        "z": "f3aa4012cfc3fa44",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b4764288b569459",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "telemetria",
        "func": "let line = msg.payload.toString().trim();\n\n// Ignorar líneas de arranque o encabezados\nif (!line || line.startsWith(\"===\") || line.startsWith(\"LoRa\") || line.startsWith(\"seq\") || line.startsWith(\"ERROR\")) {\n    return null;\n}\n\nlet p = line.split(\",\");\n\n// Deben venir 17 columnas:\n// seq,t_us,ax,ay,az,gx,gy,gz,roll,pitch,g_lat,g_lon,yaw_rate,rssi,snr,lost,total\nif (p.length < 17) {\n    return null;\n}\n\nlet data = {\n    seq: Number(p[0]),\n    t_us: Number(p[1]),\n    ax: Number(p[2]),\n    ay: Number(p[3]),\n    az: Number(p[4]),\n    gx: Number(p[5]),\n    gy: Number(p[6]),\n    gz: Number(p[7]),\n    roll: Number(p[8]),\n    pitch: Number(p[9]),\n    g_lat: Number(p[10]),\n    g_lon: Number(p[11]),\n    yaw_rate: Number(p[12]),\n    rssi: Number(p[13]),\n    snr: Number(p[14]),\n    lost: Number(p[15]),\n    total: Number(p[16])\n};\n\n// Si algo salió NaN, descartar\nif (Number.isNaN(data.seq) || Number.isNaN(data.roll)) {\n    return null;\n}\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "ac77f87818a49294",
                "31482f6065502e8c",
                "97d2fe181491de2b",
                "5871c8fc72cb3df2",
                "94d282f6d4675e4a",
                "a7239f2d802685ed",
                "dbc4bfa0c5dc1f7e",
                "2ef30c028d290dc3",
                "c6350b709dc6427e"
            ]
        ]
    },
    {
        "id": "0c7fd493c35ba134",
        "type": "serial in",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "serial": "9aa00f516edbe481",
        "x": 50,
        "y": 100,
        "wires": [
            [
                "9b4764288b569459"
            ]
        ]
    },
    {
        "id": "711770a26f88e241",
        "type": "ui-chart",
        "z": "f3aa4012cfc3fa44",
        "group": "bc6c5ee2bd29f54d",
        "name": "",
        "label": "Roll",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-180",
        "ymax": "180",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 550,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "31482f6065502e8c",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "roll",
        "func": "msg.payload = Number(msg.payload.roll);\nmsg.topic = \"Roll\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "711770a26f88e241"
            ]
        ]
    },
    {
        "id": "97d2fe181491de2b",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "pitch",
        "func": "msg.payload = Number(msg.payload.pitch);\nmsg.topic = \"Pitch\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "03553624258b4633"
            ]
        ]
    },
    {
        "id": "5871c8fc72cb3df2",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "g_lat",
        "func": "msg.payload = Number(msg.payload.g_lat);\nmsg.topic = \"G lateral\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "cdd4395d4d7fac7c"
            ]
        ]
    },
    {
        "id": "94d282f6d4675e4a",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "rssi",
        "func": "msg.payload = Number(msg.payload.rssi);\nmsg.topic = \"RSSI\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "2c0815a3ea991e28"
            ]
        ]
    },
    {
        "id": "03553624258b4633",
        "type": "ui-chart",
        "z": "f3aa4012cfc3fa44",
        "group": "bc6c5ee2bd29f54d",
        "name": "",
        "label": "Pitch",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-90",
        "ymax": "90",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cdd4395d4d7fac7c",
        "type": "ui-gauge",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "group": "bc6c5ee2bd29f54d",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "G lateral",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "G",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-3",
        "max": "3",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 560,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2c0815a3ea991e28",
        "type": "ui-gauge",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "group": "bc6c5ee2bd29f54d",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "RSSI LoRa",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "dBm",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-120",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "-90",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "-60",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-120",
        "max": "-20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 570,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a7239f2d802685ed",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "G longitudinal",
        "func": "msg.payload = Number(msg.payload.g_lon);\nmsg.topic = \"G longitudinal\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "3f14970e8f1d59d5"
            ]
        ]
    },
    {
        "id": "dbc4bfa0c5dc1f7e",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "Yaw rate",
        "func": "msg.payload = Number(msg.payload.yaw_rate);\nmsg.topic = \"Yaw rate\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "fc50304b67ee9761"
            ]
        ]
    },
    {
        "id": "2ef30c028d290dc3",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "SNR",
        "func": "msg.payload = Number(msg.payload.snr);\nmsg.topic = \"SNR\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "1f363bb0b9b9df67"
            ]
        ]
    },
    {
        "id": "c6350b709dc6427e",
        "type": "function",
        "z": "f3aa4012cfc3fa44",
        "name": "Paquetes perdidos",
        "func": "msg.payload = Number(msg.payload.lost);\nmsg.topic = \"Paquetes perdidos\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "117df594df1c0c05"
            ]
        ]
    },
    {
        "id": "3f14970e8f1d59d5",
        "type": "ui-gauge",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "group": "bc6c5ee2bd29f54d",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "G longitudinal",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "G",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-3",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-3",
        "max": "3",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fc50304b67ee9761",
        "type": "ui-chart",
        "z": "f3aa4012cfc3fa44",
        "group": "bc6c5ee2bd29f54d",
        "name": "",
        "label": "Yaw rate",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "-300",
        "ymax": "300",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 560,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1f363bb0b9b9df67",
        "type": "ui-gauge",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "group": "bc6c5ee2bd29f54d",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "SNR",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "dB",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-20",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "-20",
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "117df594df1c0c05",
        "type": "ui-gauge",
        "z": "f3aa4012cfc3fa44",
        "name": "",
        "group": "bc6c5ee2bd29f54d",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Paquetes perdidos",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 590,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9aa00f516edbe481",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "bc6c5ee2bd29f54d",
        "type": "ui-group",
        "name": "Group 1",
        "page": "c25056a6865942a2",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "c25056a6865942a2",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "2aa576ab10c7e5a2",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "834b7823cf09f5a9",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2aa576ab10c7e5a2",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "834b7823cf09f5a9",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "621fb21af50899ec",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]